# Sensitive
*.key
*.pem
*.pfx
secrets/
.env
*credentials*
*password*

# Wazuh local
/var/ossec/logs/
*.log

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db

# IDE
.vscode/
.idea/

# Network specifics (IPs, hostnames)
local-config.yml
